<%- include('header') -%>
        <section class="learnmore-container" id="about">
            <div class="learnmore-text">
                <h2>About us</h2>
                <p>Al Firdaous strives to teach both young and old the essence of Islam, 
                    following the wisdom of the pious predecessors. 
                    Excitingly, we offer an online program for both young and old, 
                    breaking down distance barriers for knowledge.
                    Our Qualified instructors lead classes covering Quran, Arabic Language, 
                    Islamic Studies, Hadith, Adhkar (Rememberances), Qasas (Stories), and Tajweed.
                    Our virtual lessons are crafted to be both lively and participatory, 
                    showcasing live talks, insightful web sessions, and virtual classrooms. This setup fosters connections with fellow learners and ensures 
                    individualized assistance from our skilled instructors. The program is also flexible, 
                    empowering you to learn at your own speed from any where around the world.</p>
                <a href="/learnmore">Learn More</a>
            </div>
        </section>
        <section class="offer-containers" id="offer">
                <h2 class="offer-h2">What We Offer</h2>
                <section class="row">
                    <section class="offer one">
                        <img src="/images/quran-row.svg" alt="quran" width="40px">
                        <h2>Authenticity</h2>
                        <p>Our principles and moral values are derived from the Quran and the sunnah of the Prophet interpreted in alignment with the understanding of the companions.
                        </p>
                    </section>
                    <section class="offer two">
                        <img src="/images/pay.svg" alt="affordable" width="40px">
                        <h2>Affordability</h2>
                        <p>We provide a high valued service at an afordable fee.
                        </p>
                    </section>
                
                <section class="offer three">
                    <img src="/images/care-row.svg" alt="care" width="40px">
                    <h2>Care</h2>
                    <p>We value each student as an individual and we hold them at a very high esteem and not just by their names.
                        We also care for their well-being physically and emotionally both inside and outside of the classroom.
                        </p>
                </section>
                <section class="offer three">
                    <img src="/images/teacher.svg" alt="fun" width="40px">
                    <h2>Professional</h2>
                    <p>At Al Firdaous Our Tutors are professionals in different disciplines and they comprise of men and women of integrity who are computer literates.
                        We maintain high standards to which we strictly adhere to.
                        </p>
                </section>
                <section class="offer four">
                    <img src="/images/secure-row.svg" alt="secure" width="40px">
                    <h2>Safe</h2>
                    <p>At Al Firdaous We provide a free and conducive atmosphere where student can easily express themselves without the fear of being judged or misinterpreted.
                    </p>
                </section>
                <section class="offer five">
                    <img src="/images/flexibility-row.svg" alt="flexibility" width="40px">
                    <h2>Flexibility</h2>
                    <p>Our schedules are based on individual availabilities. For Individual classes, students  are opportuned to select their preferred days, time and even their preferred platforms for classes delivery.
                    </p>
                </section>
                <section class="offer six">
                    <img src="/images/fun-row.svg" alt="fun" width="40px">
                    <h2>Fun and Interactive</h2>
                    <p>We prioritize making our program enjoyable and interactive for effective learning as it facilitates better retention of the knowledge imparted.</p>
                </section>
                
        </section>
        </section>
      <br>
    </header>

    <%- include('footer') -%>