<%- include('header') -%>
<section class="classmodes-container">
    <h2>Class Modes</h2>
    <section class="classmode">
        <section class="individual mode">
            <img src="/images/person.svg" alt="person" width="50px">
            <h1>1-to-1 Classes</h1>
            <ul>
               <li>✓ Flexible timings </li> 
                <li>✓ More intensive interactive sessions</li>
                <li>✓ You-centered learning</li>
                <li>✓ Less distraction</li>
                <li>✓ Learning at your pace</li>
                <li>✓ Monthly report for tracking learning progress</li>
               <li>✓ Examinations and Tests</li>
               <li>✓ Certificates at the end of a given course</li>
            </ul>
        </section>
        <section class="group mode">
            <img src="/images/group.svg" alt="person" width="50px">
            <h1>Group Classes</h1>
            <ul>
             <li>✓ Competition, which is a great tool for self improvement, we hope to replicate the competitiveness in a physical school</li>
             <li>✓ Quran buddy/accountability partner, class mates would be paired up to track each other's learning progress, and revise Quran together daily at their preferred times.</li>
             <li>✓ Also intensive</li>
             <li>✓ Flexible timings</li>
             <li>✓ Class capacity of not more than 5 students for kids</li>
             <li>✓ Class groups is according to each person's level</li>
             <li>✓ Examinations, tests and Quizzes</li>
             <li> ✓Certificates at the end of a given course.</li>
            </ul>
        </section>
    </section>
</section>
<%- include('footer') -%>