<%- include('header') -%>
        <section class="courses-container" id="courses-section">
            <section class="courses-mode">
                <span id="courses-span"> Our Programs are for Both Adults and Children</span>
                <h2 class="ourprogram">Group Classes</h2>
                 <section class="programs">
                    <section class="program">
                        <div class="firstprogram-section">
                            <span id="program-title">AHKI</span>
                            <h1>Beginner</h1>
                        </div>
                       
                        <div class="program-details">
                            <span class="program-price">$15<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>Arabic Literacy</li>
                                    <li>Hadith</li>
                                    <li>Khattu</li>
                                    <li>Islamic studies</li>
                                    <br>
                                    
                                </ul>
                                <div class="time">
                                    <p>Thursday/Friday (7:00PM)</p>
                                    <p>Saturday and Sunday (10:00PM)</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            
                            </div>
                        </div>
                    </section>
                    <section class="program">
                        <div class="firstprogram-section">
                            <span id="program-title">QAHTIM</span>
                            <h1>Intermediate</h1>
                        </div>
                      
                        <div class="program-details">
                            <span class="program-price">$20<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>Quran</li>
                                    <li>Arabic Language</li>
                                    <li>Hadith</li>
                                    <li>Tahjweed</li>
                                    <li>Imlaa/Islamic studies</li>
                                </ul>
                                <div class="time">
                                    <p>Thursday/Friday (7:00PM)</p>
                                    <p>Saturday and Sunday (10:00PM)</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
                    <section class="program">
                        <div class="firstprogram-section">
                            <span id="program-title">QNTHJAA</span>
                            <h1>Advanced</h1>
                        </div>
                        <div class="program-details">
                            <span class="program-price">$25<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>Quran</li>
                                    <li>Non vowelised Arabic words</li>
                                    <li>Tafseer</li>
                                    <li>Arabic Language</li>
                                    <li>Aqeedah</li>
                                </ul>
                                <div class="time">
                                    <p>Thursday/Friday (7:00PM)</p>
                                    <p>Saturday and Sunday (10:00PM)</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
            </section>
           
             </section>
             
        </section>
        <section class="courses-container" id="courses-section">
            <section class="courses-mode">
                <h2 class="ourprogram">Individual Classes</h2>
                 <section class="programs">
                    <section class="program">
                        <div class="firstprogram-section">
                            <h1>QAAITH</h1>
                        </div>
                        <div class="program-details">
                            <span class="program-price">$60<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>QUR'AN</li>
                                    <li>ARABIC LITERACY</li>
                                    <li>ADHKAR</li>
                                    <li>ISLAMIC STUDIES</li>
                                    <li>TAJWEED</li>
                                    <li>HADITH</li>
                                </ul>
                                <div class="time">
                                    <p><strong>4 Days Weekly</strong></p>
                                    <p><strong>$600</strong> annually</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
                    <section class="program">
                        <div class="firstprogram-section">
                            <h1>QAAITH</h1>
                        </div>
                        <div class="program-details">
                            <span class="program-price">$50<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>QUR'AN</li>
                                    <li>ARABIC LITERACY</li>
                                    <li>ADHKAR</li>
                                    <li>ISLAMIC STUDIES</li>
                                    <li>TAJWEED</li>
                                    <li>HADITH</li>
                                </ul>
                                <div class="time">
                                    <p><strong>3 Days Weekly</strong></p>
                                    <p><strong>$500</strong> annually</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
                    <section class="program">
                        <div class="firstprogram-section">
                            <h1>QATI</h1>
                            </div>
                        <div class="program-details">
                            <span class="program-price">$30<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>QUR'AN</li>
                                    <li>ADHKAR</li>
                                    <li>TAJWEED</li>
                                    <li>ISLAMIC STUDIES</li>
                                    <br>
                                    <br>
                                </ul>
                                <div class="time">
                                    <p><strong>Weekend Classes</strong></p>
                                    <p><strong>$300</strong> annually</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
                    
            </section>
           
             </section>
             
        </section>
        <%- include('footer') -%>