<div class="live-chat">
            
</div>
<script>
    const menuButton = document.querySelector('#menu-btn');
    const navLinks = document.querySelector('.mobile-links-nav');
    menuButton.addEventListener('click', ()=>{
    document.getElementById('menu-btn').src = '/images/cancel.svg';
    document.querySelector('.mobile-links-nav').classList.toggle('show');
    if(!navLinks.classList.contains('show')){
        document.getElementById('menu-btn').src = '/images/menu.svg';
    }
    });
  
</script>
</body>

</html>