<%- include('header') -%>
        <section class="text-container">
            <div class="intro-text">
                <h2>Al Firdaous: The Citadel for  Progressive Learning Excellence <span><img src="/images/quran.svg" alt="quran" width="30px"></span></h2>
            </div>
            
            <div class="intro-img-container">
                <div class="left introimg">
                    <img src="/images/img1.jpg" alt="quran-img">
                </div>
                 <div class="center introimg">
                    <img src="/images/img2.jpg" alt="quran-img">
                </div>
                <div class="right introimg">
                    <div class="right-text">
                        <p>Assalamu'Alaikum (Peace be upon you). Welcome to Al Firdaous Islamic Open Academy. This portal is dedicated to the students seeking Islamic Knowledge. We have many brothers and sisters who seek authentic Islamic knowledge, from every part of the world. However, they don't have access to qualified teachers in the field. Learning Online has been one of most helpful and effective procedures that assist Muslims all around the world. </p>
                    </div>
                    <div class="cta-btns-introimg">
                        <div class="intro-btns">
                            <a href="/download-reg" class="cta-download-btn">Download registration form</a>
                            <a href="/enroll" class="cta-enroll-btn">Enroll now</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </header>
     <section class="banner-container">
            <img src="/images/banner.png" alt="banner" class="banner-img">
        </section>
        
        <%- include('footer') -%>