<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madrosah</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="site-container">
        <nav class="nav">
            <div class="logo">
                <a href="/home"> <span id="logo-img"><img src="/images/logo.svg" alt="logo" class="logo-img" width="50px"></span> Al Firdaous</a>
            </div>        
            <div class="links-nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="/#courses-section">Courses</a></li>
                    <li><a href="/classmodes">Class modes</a></li>
                </ul>
            </div>  
            
            <div class="cta-btns">
               <ul>
                <li id="contact-btn"><a href="/contact">Contact</a></li>
                <li id="enroll-btn"><a href="/enroll">Enroll now</a></li>
               </ul> 
            </div>
            <div class="mobile-links-nav">
                <div class="mob-links-nav">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/classmodes">Class modes</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>

                </div>
                <div class="mob-links-btns">
                    <ul>
                     
                        <li><a href="">Enroll now</a></li>
                    </ul>
                </div>
               
            </div> 
            <div class="menu-btn">
                <img src="/images/menu.svg" id="menu-btn" alt="menu" width="40px">
            </div>
        </nav>
        <section class="text-container">
            <div class="intro-text">
                <h2>Al Firdaous: The Citadel for  Progressive Learning Excellence <span><img src="/images/quran.svg" alt="quran" width="30px"></span></h2>
            </div>
            
            <div class="intro-img-container">
                <div class="left introimg">
                    <img src="/images/img1.jpg" alt="quran-img">
                </div>
                 <div class="center introimg">
                    <img src="/images/img2.jpg" alt="quran-img">
                </div>
                <div class="right introimg">
                    <div class="right-text">
                        <p>Assalamu'Alaikum (Peace be upon you). Welcome to Al Firdaous Islamic Open Academy. This portal is dedicated to the students seeking Islamic Knowledge. We have many brothers and sisters who seek authentic Islamic knowledge, from every part of the world. However, they don't have access to qualified teachers in the field. Learning Online has been one of most helpful and effective procedures that assist Muslims all around the world. </p>
                    </div>
                    <div class="cta-btns-introimg">
                        <div class="intro-btns">
                            <a href="/download-reg" class="cta-download-btn">Download registration form</a>
                            <a href="/enroll" class="cta-enroll-btn">Enroll now</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
       
    </header>
     <section class="banner-container">
            <img src="/images/banner.png" alt="banner" class="banner-img">
        </section>
        <section class="learnmore-container" id="about">
            <div class="learnmore-text">
                <h2>About us</h2>
                <p>Al Firdaous strives to teach both young and old the essence of Islam, 
                    following the wisdom of the pious predecessors. 
                    Excitingly, we offer an online program for both young and old, 
                    breaking down distance barriers for knowledge.
                    Our Qualified instructors lead classes covering Quran, Arabic Language, 
                    Islamic Studies, Hadith, Adhkar (Rememberances), Qasas (Stories), and Tajweed.
                    Our virtual lessons are crafted to be both lively and participatory, 
                    showcasing live talks, insightful web sessions, and virtual classrooms. This setup fosters connections with fellow learners and ensures 
                    individualized assistance from our skilled instructors. The program is also flexible, 
                    empowering you to learn at your own speed from any where around the world.</p>
                <a href="/learnmore">Learn More</a>
            </div>
        </section>
        <section class="offer-containers" id="offer">
                <h2 class="offer-h2">What We Offer</h2>
                <section class="row">
                    <section class="offer one">
                        <img src="/images/quran-row.svg" alt="quran" width="40px">
                        <h2>Authenticity</h2>
                        <p>Our principles and moral values are derived from the Quran and the sunnah of the Prophet interpreted in alignment with the understanding of the companions.
                        </p>
                    </section>
                    <section class="offer two">
                        <img src="/images/pay.svg" alt="affordable" width="40px">
                        <h2>Affordability</h2>
                        <p>We provide a high valued service at an afordable fee.
                        </p>
                    </section>
                
                <section class="offer three">
                    <img src="/images/care-row.svg" alt="care" width="40px">
                    <h2>Care</h2>
                    <p>We value each student as an individual and we hold them at a very high esteem and not just by their names.
                        We also care for their well-being physically and emotionally both inside and outside of the classroom.
                        </p>
                </section>
                <section class="offer three">
                    <img src="/images/teacher.svg" alt="fun" width="40px">
                    <h2>Professional</h2>
                    <p>At Al Firdaous Our Tutors are professionals in different disciplines and they comprise of men and women of integrity who are computer literates.
                        We maintain high standards to which we strictly adhere to.
                        </p>
                </section>
                <section class="offer four">
                    <img src="/images/secure-row.svg" alt="secure" width="40px">
                    <h2>Safe</h2>
                    <p>At Al Firdaous We provide a free and conducive atmosphere where student can easily express themselves without the fear of being judged or misinterpreted.
                    </p>
                </section>
                <section class="offer five">
                    <img src="/images/flexibility-row.svg" alt="flexibility" width="40px">
                    <h2>Flexibility</h2>
                    <p>Our schedules are based on individual availabilities. For Individual classes, students  are opportuned to select their preferred days, time and even their preferred platforms for classes delivery.
                    </p>
                </section>
                <section class="offer six">
                    <img src="/images/fun-row.svg" alt="fun" width="40px">
                    <h2>Fun and Interactive</h2>
                    <p>We prioritize making our program enjoyable and interactive for effective learning as it facilitates better retention of the knowledge imparted.</p>
                </section>
                
        </section>
        </section>
        <section class="courses-container" id="courses-section">
            <section class="courses-mode">
                <span id="courses-span"> Our Programs are for Both Adults and Children</span>
                <h2 class="ourprogram">Group Classes</h2>
                 <section class="programs">
                    <section class="program">
                        <div class="firstprogram-section">
                            <span id="program-title">AHKI</span>
                            <h1>Beginner</h1>
                        </div>
                       
                        <div class="program-details">
                            <span class="program-price">$15<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>Arabic Literacy</li>
                                    <li>Hadith</li>
                                    <li>Khattu</li>
                                    <li>Islamic studies</li>
                                    <br>
                                    
                                </ul>
                                <div class="time">
                                    <p>Thursday/Friday (7:00PM)</p>
                                    <p>Saturday and Sunday (10:00PM)</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            
                            </div>
                        </div>
                    </section>
                    <section class="program">
                        <div class="firstprogram-section">
                            <span id="program-title">QAHTIM</span>
                            <h1>Intermediate</h1>
                        </div>
                      
                        <div class="program-details">
                            <span class="program-price">$20<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>Quran</li>
                                    <li>Arabic Language</li>
                                    <li>Hadith</li>
                                    <li>Tahjweed</li>
                                    <li>Imlaa/Islamic studies</li>
                                </ul>
                                <div class="time">
                                    <p>Thursday/Friday (7:00PM)</p>
                                    <p>Saturday and Sunday (10:00PM)</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
                    <section class="program">
                        <div class="firstprogram-section">
                            <span id="program-title">QNTHJAA</span>
                            <h1>Advanced</h1>
                        </div>
                        <div class="program-details">
                            <span class="program-price">$25<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>Quran</li>
                                    <li>Non vowelised Arabic words</li>
                                    <li>Tafseer</li>
                                    <li>Arabic Language</li>
                                    <li>Aqeedah</li>
                                </ul>
                                <div class="time">
                                    <p>Thursday/Friday (7:00PM)</p>
                                    <p>Saturday and Sunday (10:00PM)</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
            </section>
           
             </section>
             
        </section>
        <section class="courses-container" id="courses-section">
            <section class="courses-mode">
                <h2 class="ourprogram">Individual Classes</h2>
                 <section class="programs">
                    <section class="program">
                        <div class="firstprogram-section">
                            <h1>QAAITH</h1>
                        </div>
                        <div class="program-details">
                            <span class="program-price">$60<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>QUR'AN</li>
                                    <li>ARABIC LITERACY</li>
                                    <li>ADHKAR</li>
                                    <li>ISLAMIC STUDIES</li>
                                    <li>TAJWEED</li>
                                    <li>HADITH</li>
                                </ul>
                                <div class="time">
                                    <p><strong>4 Days Weekly</strong></p>
                                    <p><strong>$600</strong> annually</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
                    <section class="program">
                        <div class="firstprogram-section">
                            <h1>QAAITH</h1>
                        </div>
                        <div class="program-details">
                            <span class="program-price">$50<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>QUR'AN</li>
                                    <li>ARABIC LITERACY</li>
                                    <li>ADHKAR</li>
                                    <li>ISLAMIC STUDIES</li>
                                    <li>TAJWEED</li>
                                    <li>HADITH</li>
                                </ul>
                                <div class="time">
                                    <p><strong>3 Days Weekly</strong></p>
                                    <p><strong>$500</strong> annually</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
                    <section class="program">
                        <div class="firstprogram-section">
                            <h1>QATI</h1>
                            </div>
                        <div class="program-details">
                            <span class="program-price">$30<sub id="month">/Month</sub></span>
                            <div class="program-det">
                                <ul>
                                    <li>QUR'AN</li>
                                    <li>ADHKAR</li>
                                    <li>TAJWEED</li>
                                    <li>ISLAMIC STUDIES</li>
                                    <br>
                                    <br>
                                </ul>
                                <div class="time">
                                    <p><strong>Weekend Classes</strong></p>
                                    <p><strong>$300</strong> annually</p>
                                </div>
                                <a href="/view-details">Pay Now</a>
                            </div>
                        </div>
                    </section>
                    
            </section>
           
             </section>
             
        </section>
        <section class="classmodes-container">
            <h2>Class Modes</h2>
            <section class="classmode">
                <section class="individual mode">
                    <img src="/images/person.svg" alt="person" width="50px">
                    <h1>1-to-1 Classes</h1>
                    <ul>
                       <li>✓ Flexible timings </li> 
                        <li>✓ More intensive interactive sessions</li>
                        <li>✓ You-centered learning</li>
                        <li>✓ Less distraction</li>
                        <li>✓ Learning at your pace</li>
                        <li>✓ Monthly report for tracking learning progress</li>
                       <li>✓ Examinations and Tests</li>
                       <li>✓ Certificates at the end of a given course</li>
                    </ul>
                </section>
                <section class="group mode">
                    <img src="/images/group.svg" alt="person" width="50px">
                    <h1>Group Classes</h1>
                    <ul>
                     <li>✓ Competition, which is a great tool for self improvement, we hope to replicate the competitiveness in a physical school</li>
                     <li>✓ Quran buddy/accountability partner, class mates would be paired up to track each other's learning progress, and revise Quran together daily at their preferred times.</li>
                     <li>✓ Also intensive</li>
                     <li>✓ Flexible timings</li>
                     <li>✓ Class capacity of not more than 5 students for kids</li>
                     <li>✓ Class groups is according to each person's level</li>
                     <li>✓ Examinations, tests and Quizzes</li>
                     <li> ✓Certificates at the end of a given course.</li>
                    </ul>
                </section>
            </section>
        </section>
        <section class="footer-container">
            <section class="footers">
                <div class="first footer">
                    <div class="news-letter">
                        <p>Want to learn more about our Islamic Academy? Sign up for our newsletter</p>
                        <form action="/subscribe" method="post">
                            <input type="email" name="email" id="email" placeholder="Enter your email address"><button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
                <div class="first footer">
                    <div class="news-letter">
                        <h2>For more enquiries, you can:</h2>
                        <div class="con">
                            <img src="/images/email.svg" alt="email" width="25px"> <a href="mailto:alfirdaousislamicopenacademy@gmail.com">Send us a Mail</a>
                        </div>
                        <div class="con">
                            <img src="/images/call.svg" alt="phone" width="25px"><a href="tel:+2349135622874">Call us</a>
                        </div>
                    </div>
                </div>
                <div class="first footer">
                    <div class="news-letter">
                        <h2>Socials</h2>
                        <div class="con-img">
                            <img src="/images/facebook.svg" alt="facebook" width="40px">
                            <img src="/images/youtube.svg" alt="youtube" width="40px">
                            <img src="/images/instagram.svg" alt="instagram" width="40px">
                        </div>
                    </div>
                </div>

                
            </section>
       
        </section>
        <div class="live-chat">
            
        </div>
        <script>
            const menuButton = document.querySelector('#menu-btn');
            const navLinks = document.querySelector('.mobile-links-nav');
            menuButton.addEventListener('click', ()=>{
            document.getElementById('menu-btn').src = '/images/cancel.svg';
            document.querySelector('.mobile-links-nav').classList.toggle('show');
            if(!navLinks.classList.contains('show')){
                document.getElementById('menu-btn').src = '/images/menu.svg';
            }
            });
          
        </script>
    </body>

</html>